/********************************************************************/
/* BEGIN http://rawgit.com/TristanCavelier/apps/master/app/js-terminal/js-terminal.css */
.js-terminal {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: auto;

  color: white;
  background-color: black;
}
.js-terminal .prompt, .js-terminal .prompt-button {
  border: 1px solid gray;
  box-sizing: border-box;
  vertical-align: top;

  color: white;
  background-color: black;
}
.js-terminal .disabled {
  border-color: #303030;
  color: gray;
}
.js-terminal .output pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.js-terminal .output textarea {
  width: 100%;
  box-sizing: border-box;
}
.js-terminal .output iframe {
  width: 100%;
  height: 90%;
  background-color: white;
  border: 0;
}
/* END http://rawgit.com/TristanCavelier/apps/master/app/js-terminal/js-terminal.css */
